/* content */
:root {
  --c-primary-light: #ffffff;
  --c-background: #2e2f42;
  --c-hover: #404bbf;
  --c-text: #434455;
  --c-white-text: #f4f4fd;
  --c-logo: #4d5ae5;
  --c-border: #e7e9fc;
}

/* BODY */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--c-text);
  background-color: var(--c-primary-light);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--c-background);
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accent-color{
  color: var(--c-logo)
}

/* line */
.container-header {
  border-bottom: 1px solid var(--c-border);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

:hover,
:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* LOGO */
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--c-logo);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-right: 76px;
}

.logo .accent {
  font-family: 'Raleway', sans-serif;
  color: var(--c-background);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* NAVIGATION */

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 24px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  justify-content: center;
  margin: 0;
}

.nav-link {
  color: var(--c-background);
  text-decoration: none;
  font-weight: 500;
  padding: 24px 0;
  display: inline-block;
  position: relative;
}

.current {
  color: var(--c-hover);
  font-weight: 500;
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--c-hover);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--c-hover);
  text-decoration: none;
}

.nav-link:hover::after,
.nav-link:focus::after {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--c-hover);
  content: '';
  width: 48px;
  height: 4px;
  border-radius: 2px;
}

.header-social {
  display: flex;
  gap: 40px;
  margin: 0;
}

.add-link {
  font-style: normal;
}
.address-link {
  text-decoration: none;
  font-weight: 400;
  display: inline-block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--c-text);
}

.address-link:hover,
.address-link:focus {
  color: var(--c-hover);
  text-decoration: none;
}
/* MAIN */

/* one */

.hero-section {
  background-color: var(--c-background);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/bg-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  color: var(--c-primary-light);
  text-decoration: none;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  color: var(--c-primary-light);
  background-color: var(--c-logo);
  text-align: center;
  letter-spacing: 0.04em;
  font-weight: 500;
  border: 16px 32px solid;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--c-primary-light);
  background-color: var(--c-hover);
  cursor: pointer;
}


/* two */
.advantages-section {
  padding: 120px 0;
}

.advantages-icon {
  width: 264px;
  height: 112px;
  background-color: var(--c-white-text);
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.icon {
  margin: 24px 100px;
}

.advantages-list {
  display: flex;
  align-items: baseline;
  gap: 24px;
}
.advantages-title {
  color: var(--c-background);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 400;
  max-width: 264px;
}
.advantages {
  width: calc((100% - 72px) / 4);
}
/* three */
.team-section {
  background-color: var(--c-white-text);
  padding: 120px 0;
}


.hero-team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-cards {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.card-one {
  width: calc((100% - 72px) / 4);
  background-color: var(--c-primary-light);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
  background-color: var(--c-primary-light);
}
.team-text {
  font-weight: 400;
  text-align: center;
  background-color: var(--c-primary-light);
  margin-bottom: 8px;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.site-link {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--c-logo);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--c-hover)
}

.icon-card {
  fill: rgba(244, 244, 253, 1);
}

/* four */
.portfolio-section {
  padding: 120px 0;
}

.hero-portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio {
  justify-content: center;
  padding: 32px 16px;
  border: 1px solid var(--c-border);
  border-top: none;
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  background-color: var(--c-primary-light);
  text-align: left;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  text-align: left;
  background-color: var(--c-primary-light);
}

.box {
  position: relative;
  overflow: hidden;
}
.portfolio-card:hover .overlay-text {
  transform: translateY(0);
}

.overlay-text {
  color: var(--c-white-text);
  font-weight: 400;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  background-color: var(--c-logo);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

.footer-main {
  background-color: var(--c-background);
  padding: 100px 0;
}

.footer-section {
  margin-right: 120px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  color: var(--c-logo);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer .accent-footer {
  font-family: 'Raleway', sans-serif;
  color: var(--c-white-text);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: var(--c-white-text);
  font-weight: 400;
  max-width: 264px;
}

.footer {
  display: flex;
  align-items: baseline;
}

.footer-icons{
  margin-right: 80px;
}

.footer-icons-text {
  color: var(--c-primary-light);
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.f-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.f-icons-site-link {
  width: 40px;
  height: 40px;
}

.f-site-link:hover,
.f-site-link:focus {
  background-color: #31d0aa;
}

.f-site-link {
  width: 100%;
  height: 100%;
  background-color: var(--c-logo);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.f-icon-card {
  fill: rgba(244, 244, 253, 1);
  margin: 8px;
}

.footer-form{
  display: flex;
  gap: 24px;
}

.f-email-form{
  gap: 24px;
}
.f-email{
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #FFF;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFF;
}

.f-email::placeholder{
  color:#ffffff;
}

.f-subscribe-btn{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;

  color: #FFF;
  cursor: pointer;
  background-color: var(--c-logo);
  border-radius: 4px;
  border: none;
}

.f-sbs-btn-icon{
  fill:#FFFFFF;
  margin-left: 16px;
}

.f-sbs{
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* BLANK */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn{
  width: 24px;
  height: 24px;
  background-color: #E7E9FC;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
  fill: #FFFFFF;
  background-color: #404BBF;
  border: none;
}

.text-in-modal{
  width: 360px;
  color: #2E2F42;
  font-family: Roboto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.client{
  margin-bottom: 8px;
}

.client-label {
  color: #8E8F99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  display: block;
}

.form-input-client-wrapper{
  position: relative;
}

.client-input{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}

.client-input:focus{
  border-color: var(--c-logo);
}

.form-input-client-icon{
  position: absolute;
  top:50%;
  left:16px;
  transform: translateY(-50%);
  fill: #2E2F42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-input:focus + .form-input-client-icon{
  fill: #4d5ae5;
}

.client-comment{
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
  color: rgba(46, 47, 66, 0.40);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.client-comment::placeholder{
  color: rgba(46, 47, 66, 0.40);
}

.client-comment:focus{
  border-color: #4D5AE5;
}

.client.textaria{
  margin-bottom: 16px;
}

.form-own-checkbox{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-checkbox{
  margin-bottom: 24px;
}

.client-checkbox-form:checked + .client-checkbox-form-label > .form-own-checkbox{
  background-color: #404BBF;
  fill: #F4F4FD;
  border: none;
}

.client-checkbox-form:focus + .client-checkbox-form-label > .form-own-checkbox{
  outline: 1px solid #4D5AE5;
}

.form-own-checkbox-icon{
  fill:#F4F4FD;
  opacity: 0;
}

.client-checkbox-form:checked + .client-checkbox-form-label .form-own-checkbox-icon{
  opacity: 1;
}

.client-checkbox-form-label{
  color: #8E8F99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.client-submit-btn{
  min-width: 169px;
  height: 56px;
  background-color: var(--c-logo);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px 16px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
  
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.04em;
}